.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

  &-img {
    width: 160px;
    height: 160px;
    background-color: #d9d9d9;
    border-radius: 100%;
  }

  &-name {
    color: #47437c;
    font-size: 24px;
    font-weight: 700;
  }

  &-tag {
    color: rgba(71, 67, 124, 0.73);
    font-size: 24px;
    font-weight: 700;
  }
}
