.settings-space {
  flex-grow: 1;
  height: 100%;
  padding: 70px 100px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .name-and-img {
    width: 100%;
    height: 198px;

    border-radius: 20px;
    background: rgba(252, 234, 243, 0.2);

    display: flex;
    padding-left: 70px;
    // justify-content: space-around;
    gap: 40px;
    align-items: center;
  }

  .img {
    width: 131px;
    height: 131px;
    border-radius: 100%;
    background: #dad8e3;
  }

  .name {
    color: #47437c;
    font-size: 40px;
    font-weight: 700;
  }

  .change-photo {
    width: 100%;
    height: 129px;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);

    color: #47437c;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  .age {
    width: 100%;
    height: 87px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 45px;
    gap: 10px;

    color: #47437c;
    font-size: 22px;
    font-weight: 600;
  }

  .btns {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 335px;
    height: 67px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);

    color: #47437c;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .input-change-photo {
    width: 400px;
    color: #47437c;
    font-size: 40px;
    font-weight: 700;
    height: 65px;

    border-radius: 10px;
    border: 2px solid #47437c;
    background-size: 40px;

    padding-left: 10px;
  }

  .input-change-age {
    width: 400px;
    color: #47437c;
    font-size: 22px;
    font-weight: 600;
    height: 45px;

    border-radius: 10px;
    border: 2px solid #47437c;
    background-size: 40px;

    padding-left: 10px;
  }
}
