.error {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.64);
  width: max-content;
  top: 25px;
  left: 310px;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  padding: 10px;
  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -22px;
    border: 10px solid transparent;
    border-right: 10px solid #ebebeb;
  }
}
