.chat {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;

  &-img {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background-color: #d9d9d9;
  }

  &-title {
    color: #47437c;
    font-size: 24px;
    font-weight: 700;
  }
}
